* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    color: #2f2c2c;
    background-color: #fffdfd;
}
header {
    background-color: #fffdfd;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.hbnb-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #dcd8d8;
}
.nav-search-and-filter {
    display: flex;
    align-items: center;
    width: 600px;
    gap: 10px;
}
.nav-search-bar {
    width: 100%;
    height: 48px;
    padding: 18px;
    border-radius: 22px;
    border: 2px solid #888383;
    box-shadow: 1px 2px 5px rgba(126, 124, 124, 0.5);
}
.login-button {
    border-radius: 22px;
    background-color: rgb(218, 59, 59);
    width: 100px;
    padding: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 4px;
    transition: background-color 0.3s ease-in-out;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    gap: 8px;
    color: #fff;
}
.login-button:hover {
    cursor: pointer;
    background-color: grey;
}
a.login-link:visited {
    color: #fff;
    text-decoration: none;
}
.place-title-and-imgs-container {
    max-width: 1100px;
    margin: 0 auto;
}
.place-header {
    margin: 30px auto;
    width: 100%;
    padding-left: 20px;
}
/* Place image grid */
.place-image-grid {
    margin: 0 auto;
    display: grid;
    gap: 12px;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.place-grid-img-1 {
    grid-row: span 2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.place-grid-img-2 {
    border-top-right-radius: 12px;
}
.place-grid-img-3 {
    border-bottom-right-radius: 12px;
}
.place-image-grid > img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in;
}
.place-image-grid > img:hover {
    cursor: pointer;
    opacity: 0.8;
}
@media (max-width: 1000px) {
    .place-image-grid {
        grid-template-columns: 1fr;
    }
    .place-image-grid > img {
        border-radius: 12px;
        width: 85%;
        margin: 0 auto;
    }
    .place-header {
        text-align: center;
    }
    ul.list-of-amenities {
        columns: 1;
    }
}

/*  main text section  */
.place-details-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px auto;
    max-width: 1200px;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}
.place-host-icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-image: url(images/user-login-icon.png);
    background-position: center;
    background-size: cover;
}
.owner-name {
    font-size: 20px;
}
.host-info-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
h3 {
    font-size: 25px;
}
.list-of-amenities {
    list-style: none;
    columns: 3;
    max-width: 700px
}

.place-long-description-placeholder, li {
    line-height: 1.5;
    width: 90%;
}
.place-list-reviews {
    margin-bottom: 100px;
}
.review-container-wrapper {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    gap: 20px;
    padding-top: 20px;
}
.review-container {
    margin: 8px;
    width: 300px;
}
.user-review-details {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.user-review-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(images/user-login-icon.png);
    background-position: center;
    background-size: cover;
}
.users-review-text {
    margin: 10px 0 20px 0;
}
.add-review-button {
    color: #fff;
    background-color: rgb(218, 59, 59);
    width: max-content;;
    padding: 18px;
    text-align: center;
    border-radius: 22px;
    transition: background-color 0.3s ease-in-out;
    font-size: 1rem;;
}
.add-review-button:hover {
    cursor: pointer;
    background-color: grey;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #dcd8d8;
}
p.footer-info {
    text-align: center;
    padding: 24px;
}

.fa-star {
    color: black;
}
.fa-star.checked {
    color: rgb(237, 198, 22);
}
