* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #fffdfd;
}
main {
    padding-bottom: 80px;
}
/*Header-Nav*/
header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 90px;
    background-color: #fffdfd;
    border-bottom: 1px solid #ddd8d8; 
}
nav {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.hbnb-logo {
    height: auto;
    width: 120px;
    margin-left: 4px;  
}
.login-button {
    border-radius: 22px;
    background-color: rgb(218, 59, 59);
    width: 100px;
    padding: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 4px;
    transition: background-color 0.3s ease-in-out;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    gap: 8px;
    color: #fff;
}

a.login-link:visited {
    color: #fff;
    text-decoration: none;
}
.login-button:hover {
    cursor: pointer;
    background-color: grey;
}

/*Hero banner*/
.hero-container {
    max-width: 100%;
    height: 350px;
    background-color: #888383;
    background-image: url('images/hero-banner-image.jpg');
    background-position: center;
    background-size: cover;
}
.hero-title-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px 12px;
}
.hero-banner-title-1 {
    font-size: 3rem;
    margin-bottom: 3px;
    color: #fff;
    font-weight: 300;
}
.hero-banner-title-2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
}
/*Search nav*/
.nav-search-and-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
    position: relative;
    top: -20px;
    z-index: 1;
}
.nav-search-bar {
    width: 40%;
    height: 48px;
    padding: 18px;
    border-radius: 22px;
    border: 3px solid rgb(218, 59, 59);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    transition: box-shadow 0.3s ease-in-out;
}
.date-picker {
    padding: 10px;
    border:  3px solid rgb(218, 59, 59);
    border-radius: 22px;
    height: 47px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    transition: box-shadow 0.3s ease-in-out;
}
.price-filter {
    border: 3px solid rgb(218, 59, 59);
    padding: 12px;
    border-radius: 22px;
    width: 130px;
    transition: box-shadow 0.3s ease-in-out;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    transition: box-shadow 0.3s ease-in-out;
}
.price-filter:hover, .date-picker:hover, .nav-search-bar:hover,.search-button:hover {
    cursor: pointer;
    box-shadow: 1px 4px 8px rgba(101, 95, 95, 0.5);
}
.price-filter:focus, .date-picker:focus, .nav-search-bar:focus {
    outline: none;
}
.search-button {
    padding: 12px;
    width: 100px;
    border-radius: 22px;
    border: 3px solid rgb(218, 59, 59);
    background-color: rgb(218, 59, 59);
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    transition: box-shadow 0.3s ease-in-out;
}
/*Property Grid*/
.hbnb-property-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
    max-width: 1400px;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.property-grid-item {
    transition: box-shadow 0.4ms ease-in-out;
    width: 330px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #e8e6e6;
    border-radius: 22px;;
}
.property-grid-item:hover {
    cursor: pointer;
    box-shadow: -2px 4px 6px 3px rgba(190, 189, 189, 0.5);
    border-radius: 12px;
}
.property-grid-item-image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    aspect-ratio: 4/4;
    border-radius: 12px;
}
.property-image-1 {
    background-image: url(images/hbnb-property-image.jpg);
}

@media (max-width: 1100px) {
    .property-grid-item {
        width: 400px;
    }
    .nav-search-and-filter {
        z-index: 1;
    }
}
@media (max-width: 900px) {
    .hbnb-property-grid {
        margin-top: 230px;
    }
    .property-grid-item{
        width: 500px; 
    } 
    .nav-search-and-filter {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    .nav-search-and-filter > * {
        width: 470px;
    }
}
/*Grid text*/

.property-grid-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 110px;
    margin: 12px;
}

.property-grid-item-location {
    font-size: 1rem;
    color: #2f2c2c;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 4px;
}

.property-grid-item-description {
    font-size: 0.9rem;
    color: rgb(94, 93, 93);
    margin-bottom: 5px;
}
.property-grid-item-price {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color:#2f2c2c;
    margin-top: auto;
}
.property-grid-item-location:visited {
    color: #2f2c2c;
    text-decoration: none;
}
.property-grid-item-price:visited {
    color:#2f2c2c;
}
a:link {
    text-decoration: none;
}
/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #dcd8d8;
}
p.footer-info {
    text-align: center;
    padding: 24px;
}

